<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static 'players/index.css' %}">

<h1>{{ player.playerName }}</h1>

<fieldset>
    
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <h2>Item History</h2>
    <a class="btn btn-info btn-lg " href="{% url 'players:index'%}" role="button">Back</a>
    <table class="table table-dark">
        <tr>
            <th scope="col">Item Name</th>
            <th scope="col">DKP Spent</th>
            <th scope="col">Date Won</th>
        </tr>
    {% for item in items %}
        <tr><td><a href="{% url 'items:detail' item.itemName %}">{{ item.itemName }}</a></td><td>{{ item.price }}</td><td><a href="{% url 'items:raidView' item.itemDate %}">{{ item.itemDate }}</a></td></tr>
    {% endfor %}
    </table>
</fieldset>
<a class="btn btn-info btn-lg " href="{% url 'players:index'%}" role="button">Back</a>
