<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static 'players/index.css' %}">

<li><a href="{% url 'index'%}">{{ "Back" }}</a></li>
{% if player_list %}
    <table>
    {% for player in player_list %}
        <tr><td><a href="{% url 'players:detail' player.playerName %}">{{ player.playerName }}</a></td><td>{{ player.currentDKP}}</td><td>{{ player.checksEarned }}{{'/'}} {{ player.checksAvail }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No players are available.</p>
{% endif %}
<li><a href="{% url 'index'%}">{{ "Back" }}</a></li>