<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static 'players/index.css' %}">

<h1>Players Overview</h1>
<a class="btn btn-info btn-lg " href="{% url 'index'%}" role="button">Back</a>

{% if player_list %}
    <table class="table table-dark">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Current DKP</th>
              <th scope="col">Attendance Checks</th>
            </tr>
          </thead>
    {% for player in player_list %}
        <tr><td><a href="{% url 'players:detail' player.playerName %}">{{ player.playerName }}</a></td><td>{{ player.currentDKP}}</td><td>{{ player.checksEarned }}{{'/'}} {{ player.checksAvail }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No players are available.</p>
{% endif %}
<a class="btn btn-info btn-lg " href="{% url 'index'%}" role="button">Back</a>