<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static 'players/index.css' %}">

<h1>{{ "Welcome to the confirmation page!" }}</h1>
<a class="btn btn-info btn-lg " href="{% url 'index'%}" role="button">Back</a>

<form method="POST">
    {% csrf_token %}
    <table class="table table-dark">
        {% for item in dataForm %}
            <tr><td>{{ item.winner }}</td><td> {{ item.item }} </td></tr>
        {% endfor %}
    </table>
    <li><a href="{% url 'files:confirm'%}">{{ "Done" }}</a></li>
</form>

<a class="btn btn-info btn-lg " href="{% url 'index'%}" role="button">Back</a>